/* Fonte importada */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');

/* Estilos CSS */
@import url("header.css"); /* Estilos Cabeçalho */
@import url("banner.css"); /* Estilos Banner */
@import url("carrossel.css"); /* Estilos Carrossel */
@import url("topicos.css"); /* Estilos Tópicos */
@import url("contato.css"); /* Estilos Contato */
@import url("rodape.css"); /* Estilos Rodapé */

/* Variáveis */
:root {
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --azul: #002F52;
    --azul-degrade: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --fonte-principal: 'Poppins', sans-serif;
}

/* Estilizações gerais */
body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}
